@import url('https://fonts.googleapis.com/css2?family=Corben&family=Radley&display=swap');
:root {
    --primary-color: #DEB887ff;
    --secondary-color: #98897Aff;
    --accent1-color: #525B6Cff;
    --accent2-color: #0C2C5Fff;

    --heading-font:'Corben', serif;
    --paragraph-font:'Radley', serif;

    --nav-background-color:#0C2C5Fff;
    --nav-link-color: #DEB887ff;
    --nav-hover-link-color: #525B6Cff;
    --nav-hover-background-color:#98897Aff;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
} 

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color:var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color)

}


main img {
    float: right;
}